{% extends "layout.html" %} {% block body %}
<div class="row">
  <div class="col-lg-8 offset-lg-3">
    <h1>Show Product</h1>
    <img src="{{product.image_url}}" alt="product_image" width="600px" />
    <p>Title: {{product.title}}</p>
    <p>Desc: {{product.description}}</p>
    <p>Price: ₹{{product.price}}</p>

    <br /><br />
    <a
      class="btn btn-outline-success col-1"
      href="/products/{{product.id}}/edit"
      >Edit</a
    >
    <form method="POST" action="/products/{{product.id}}/delete">
      <button class="btn btn-outline-danger">Delete</button>
    </form>
  </div>
</div>

{% endblock %}
